<h2>Estructura del Proyecto</h2>
<p>
  Un proyecto Angular tiene una estructura de archivos diseñada para organizar
  el código de manera eficiente y escalable. La carpeta principal es
  <code>src</code>, dentro de la cual se encuentra
  <code class="sourceCode">app</code>, que contiene los elementos esenciales
  para el desarrollo. A continuación, se detalla la estructura básica:
</p>
<ul>
  <li>
    <strong>src/app</strong>: Aquí se encuentran los módulos, componentes y
    servicios que conforman la aplicación. Es el núcleo funcional de tu
    proyecto.
  </li>
  <li>
    <strong>app.module.ts</strong>: Este es el módulo raíz donde se declaran los
    componentes y módulos utilizados en la aplicación. Angular necesita al menos
    un módulo para funcionar correctamente. En este archivo, también puedes
    importar otros módulos como <code>FormsModule</code> o
    <code>HttpClientModule</code> según las necesidades de tu aplicación.
  </li>
  <li>
    <strong>app.component.ts</strong>: Este es el componente raíz que actúa como
    el punto de entrada visual de la aplicación. Contiene la lógica y datos
    principales.
  </li>
  <li>
    <strong>assets/</strong>: Carpeta para incluir recursos estáticos como
    imágenes, fuentes o archivos JSON. Estos recursos son accesibles
    directamente desde la aplicación.
  </li>
  <li>
    <strong>environments/</strong>: Contiene configuraciones específicas para
    diferentes entornos, como desarrollo y producción. Por ejemplo, puedes
    definir URLs de API diferentes dependiendo del entorno.
  </li>
  <li>
    <strong>main.ts</strong>: Archivo principal que arranca la aplicación
    cargando el módulo raíz.
  </li>
  <li>
    <strong>angular.json</strong>: Archivo de configuración para Angular CLI.
    Aquí puedes personalizar configuraciones de compilación, rutas de estilos,
    entre otros ajustes globales.
  </li>
</ul>
<p>
  Es una buena práctica organizar el proyecto creando subdirectorios dentro de
  <code>app</code>, como <code>components</code> para componentes individuales,
  <code>pages</code> para vistas o páginas principales, y
  <code>shared</code> para módulos compartidos. Este enfoque ayuda a mantener el
  código limpio y modular. Por ejemplo, si tu aplicación incluye una
  funcionalidad para gestionar usuarios, puedes crear un directorio
  <code>users</code> dentro de <code>app</code> que contenga los componentes y
  servicios relacionados con esa funcionalidad.
</p>
<p>
  A medida que tu aplicación crezca, es importante mantener una estructura
  coherente y bien organizada. Esto facilita la colaboración en equipos grandes
  y mejora la mantenibilidad del código a largo plazo. También puedes utilizar
  herramientas de análisis de código como ESLint para garantizar que se sigan
  las mejores prácticas en toda la base de código.
</p>
