<h2>Configuración del Proyecto</h2>
<h3>Configuración del Entorno</h3>
<p>
  Antes de comenzar a trabajar con Angular, necesitamos configurar nuestro
  entorno de desarrollo. Para ello, debemos instalar Node.js y Angular CLI.
</p>
<h3>Instalación de Node.js</h3>
<p>
  Dirígete a la página oficial de
  <a href="https://nodejs.org/en/download/package-manager" target="_blank"
    >Node.js</a
  >
  y descarga la versión recomendada para tu sistema operativo. En este enlace,
  podrás encontrar las versiones disponibles de Node.js, incluyendo las
  versiones LTS (Long Term Support) y las versiones actuales. Algunas de ellas
  pueden tener soporte a largo plazo, lo que te permitirá utilizarlas en
  producción sin problemas.
</p>
<p>
  Existen unas versiones mínimas de node.js para poder trabajar con Angular.
</p>
<table>
  <colgroup>
    <col />
    <col />
    <col />
    <col />
  </colgroup>
  <thead>
    <tr class="cabeceraTabla celdasTabla">
      <th>Angular</th>
      <th>Node.js</th>
      <th>TypeScript</th>
      <th>RxJS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="celdasTabla">
      <td>19.0.x</td>
      <td>^18.19.1 / ^20.11.1 / ^22.0.0</td>
      <td>&gt;=5.5.0 / &lt;5.7.0 / ^6.5.3</td>
      <td>^7.4.0</td>
    </tr>
  </tbody>
</table>
<p>
  Una vez que hayas seleccionado la versión que deseas instalar, puedes
  descargarla y seguir las instrucciones para instalarla en tu sistema
  operativo.
</p>

<h3>Instalar Angular CLI</h3>
<p>
  Abre una terminal y ejecuta el siguiente comando para instalar Angular CLI de
  manera global:
</p>
<code>
  <pre class="source bash">
<span><span class="ex">npm</span> install <span class="attr">-g</span> &#64;angular/cli</span>
</pre>
</code>
<p>
  Esto nos asegurará que la herramienta esté disponible en todo el sistema. Es
  importante asegurarte de tener Node.js instalado previamente, ya que Angular
  CLI depende de este entorno.
</p>
<h3>Crear un nuevo proyecto</h3>
<h4>Crear los archivos del proyecto según la estructura de Angular</h4>
<p>Con Angular CLI instalado, puedes crear un nuevo proyecto ejecutando:</p>
<code>
  <pre class="source bash">
<span ><span class="ex">ng</span> new tutorial-angular</span>
</pre>
</code>
<p>
  Durante este paso, el sistema te preguntará si deseas incluir configuraciones
  como soporte para SCSS o configurar enrutamiento. Selecciona las opciones
  según tus necesidades. En nuestro caso seleccionaremos que queremos utilizar
  CSS para que Angular configure automáticamente los archivos.
</p>
<h4>Ejecutar el servidor de desarrollo</h4>
<p>
  Una vez creado el proyecto, navega al directorio generado y levanta un
  servidor local con:
</p>
<code>
  <pre class="source bash">
<span><span class="bu">cd</span> tutorial-angular</span>
<span><span class="ex">ng</span> serve</span>
</pre>
</code>
<p>
  Este comando compilará la aplicación y la servirá mediante un servidor local,
  permitiéndote probar los cambios en tiempo real. Angular CLI también
  proporciona detección automática de cambios, por lo que cualquier modificación
  en el código se reflejará instantáneamente en el navegador.
</p>
<h4>Abrir la aplicación en el navegador</h4>
<p>
  Angular CLI iniciará automáticamente el servidor en
  <code>http://localhost:4200</code>. Puedes acceder a la URL desde tu navegador
  para visualizar la aplicación inicial de Angular. Tambien puedes escribir
  <code><strong>o</strong> + <strong>enter</strong></code> para que el navegador
  abra directamente la página.
</p>
<p>
  Esta aplicación incluye una plantilla básica que muestra un mensaje de
  bienvenida y sirve como punto de partida para el desarrollo.
</p>
<h4>Personalizar la configuración inicial</h4>
<p>
  Una vez que el servidor está en funcionamiento, puedes comenzar a personalizar
  los archivos generados. Por ejemplo, modificando el archivo
  <code>app.component.html</code> para cambiar el contenido de la página
  principal. Tambien puedes agregar nuevas dependencias o librerías según las
  necesidades de tu proyecto utilizando <code>npm install</code>.
</p>
<p>
  Esta aplicación inicial contiene una estructura básica que sirve como punto de
  partida para el desarrollo de tu aplicación.
</p>
