<h2>Módulos</h2>
<p>
  Los módulos en Angular son contenedores para agrupar componentes, directivas,
  servicios y otros módulos. El módulo principal, <code>AppModule</code>, es
  donde Angular busca el punto de entrada de la aplicación. Puedes crear módulos
  adicionales para organizar el código según funcionalidades específicas. Por
  ejemplo, un módulo para gestionar usuarios o un módulo para mostrar informes.
</p>
<p>Para crear un módulo con Angular CLI:</p>
<pre
  class="source bash"
><code><span class="ex">ng</span> generate module nombre-modulo
</code></pre>
<p>
  El archivo generado incluirá configuraciones básicas como
  <code>&#64;NgModule</code> y un arreglo para importar y declarar componentes
  asociados al módulo. Usar módulos ayuda a cargar funcionalidades de manera
  diferida (lazy loading) para mejorar el rendimiento de la aplicación.
</p>
<p>Un ejemplo de configuración básica sería:</p>
<div class="source typescript">
  <code
    ><span class="meta">&#64;NgModule</span>(&#123;<br />
    <span class="attr">declarations</span>: [<span class="title"
      >Componente1</span
    >, <span class="title">Componente2</span>],<br />
    <span class="attr">imports</span>: [<span class="title">CommonModule</span
    >],<br />
    <span class="attr">exports</span>: [<span class="title">Componente1</span
    >]<br />
    &#125;)<br />
    <span class="keyword">export </span> <span class="keyword">class </span>
    <span class="title">NombreModulo</span> &#123;&#125;
  </code>
</div>
<p>
  Los módulos tambien permiten segmentar el código de manera lógica, facilitando
  su mantenimiento. Por ejemplo, si estás desarrollando una tienda en línea,
  podrías tener módulos separados para la gestión de productos, usuarios y
  órdenes.
</p>
