html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 20px;
}

h1 {
  text-align: center;
  background-color: lightblue;
  margin: 5px 0;
  border-radius: 9px;
}

h2 {
  margin: 1em 0 0 0;
}

h3 {
  margin: 1em 0 0 0;
}

h4 {
  margin: 1em 0 0 0;
}

p {
  margin: 0.5em 0 1em ;
}
.cabeceraTabla {
  font-weight: bolder;
}

.celdasTabla {
  border: 1px solid white;
  border-collapse: collapse;

  background-color: #96d4d4;
}

.celdasTabla td,
.celdasTabla th {
  padding: 5px 10px;
}

code {
  background-color: #f0f4f8;
}

.source {
  font-family: monospace;
  font-size: small;
  padding: 0.5rem;
  background-color: #f0f4f8;
  overflow-x: scroll;
  overflow: auto;
}

.bash {
  .ex {
    color: #008;
  }
  .attr {
    color: #080;
  }

  .bu {
    color: #088;
  }
}

.html {
  .tag {
    color: #008;
  }
  .name {
    color: #800;
  }
  .comment {
    color: #808;
  }
  .attr {
    color: #048;
  }
  .value {
    color: #088;
  }
  .string {
    color: #088;
  }
}

.typescript {
  .meta {
    color: #2b91af;
  }
  .attr {
    color: #f00;
  }
  .built_in {
    color: #088;
  }
  .title {
    color: #808080;
  }
  .keyword {
    color: #00f;
  }
  .string {
    color: #a31515;
  }
  .comment {
    color: #008000;
  }
  .variable {
    color: #009977;
  }
  .property {
    color: #ff00ff;
  }
}
.nginx {
  .section {
    color: #800;
  }
  .attribute {
    color: #808;
  }
  .string {
    color: #088;
  }
  .number {
    color: #080;
  }
  .variable {
    color: #008;
  }
}
